.program__item {
    position: relative;
    max-width: 600px;
}
.program__item:nth-of-type(1), .program__item:nth-of-type(4), .program__item:nth-of-type(7) {
    justify-self: start;
}
.program__item:nth-of-type(2), .program__item:nth-of-type(5) {
    justify-self: center;
}
.program__item:nth-of-type(3), .program__item:nth-of-type(6) {
    justify-self: end;
}
.program__item:last-of-type {
    max-width: 100%;
}