.program__item {
    display: grid;
    grid-template-rows:  100px 1fr 100px;
    position: relative;
    max-width: 600px;
    min-height: 350px;
    box-shadow: 2px 2px 8px rgba(124, 119, 41, 0.8);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    background: #fff;
    align-content: end;
}
.program__item:last-of-type {
    grid-template-rows: 1fr;
    height: 100%;
}