.footer__blook-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, min-content) min-content  min-content min-content;
    justify-self: start;
    grid-area: item1;
}
@media all and (max-width: 500px)  {
    .footer__blook-description {
        grid-template-rows: repeat(2, max-content);
        justify-self: center;
    }
}