.footer__subtitle {
}
.footer__subtitle {
    margin-block-start: 30px;
    margin-block-end: 20;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    max-width: 400px;
}

@media all and (max-width: 1500px)  {
    .footer__subtitle {
        font-size: 22px;
        line-height: 30px;
    }
}
@media all and (max-width: 1200px)  {
    .footer__subtitle {
        font-size: 20px;
        line-height: 28px;
    }
}
@media all and (max-width: 800px)  {
    .footer__subtitle {
        font-size: 18px;
        line-height: 24px;
    }
}

@media all and (max-width: 500px)  {
    .footer__subtitle {
        font-size: 14px;
        line-height: 21px;
    }
}