.price__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    background: none;
    color: #fff;
    box-sizing: border-box;
    gap: 30px;
}

@media all and (max-width: 1200px)  {
    .price__item {
        gap: 20px;
    }
}