.form__input-error {
    display: none;
    font-family: 'Proxima Nova', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    justify-self: center;
    text-align: center;
}


@media all and (max-width: 500px)  {
    .form__input-error {
        max-width: 291px;
    }
}