.author__img {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 800px;
    z-index: 2;
}
@media all and (max-width: 1500px)  {
    .author__img {
        right: -20px;
        width: 700px;
    }
}
@media all and (max-width: 1200px)  {
    .author__img {
        width: 600px;
        top: 100px;
    }
}

@media all and (max-width: 1000px)  {
    .author__img {
        width: 500px;
    }
}
@media all and (max-width: 900px)  {
    .author__img {
        width: 400px;
        right: -10px;
        top: 150px;
    }
}

@media all and (max-width: 700px)  {
    .author__img {
        margin: auto;
        top: 70px;
        left: 0%;
    }
}

@media all and (max-width: 500px)  {
    .author__img {
        width: 300px;
        top: 50px;
    }
}