.for {
    background: linear-gradient(
    140deg, rgba(36, 0, 0, .7) 10%, rgba(255, 255, 255, .05) 99%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    color: #240000;
    text-align: center;
    padding: 60px 100px;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
    align-self: center;
    gap: 60px;
}

@media all and (max-width: 1500px)  {
    .for {
        padding: 40px 90px;
    }
}

@media all and (max-width: 1200px)  {
    .for {
        padding: 40px 60px;
    }
}

@media all and (max-width: 800px)  {
    .for {
        padding: 40px;
        gap: 40px;
    }
}

@media all and (max-width: 500px)  {
    .for {
        padding: 20px;
    }
}