.cards__item {
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 797px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 18px rgba(36, 0, 0, 0.7);
    justify-content: center;
    justify-self: end;
    border-radius: 25px;
    border: #240000 2px solid;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: min-content min-content min-content;
    gap: 20px;
}

.cards__item:first-of-type {
    grid-area: item1;
}
.cards__item:nth-of-type(2) {
    grid-area: item2;
}
.cards__item:nth-of-type(3) {
    grid-area: item3;
}
.cards__item:nth-of-type(4) {
    grid-area: item4;
}
.cards__item:nth-of-type(5) {
    grid-area: item5;
}
.cards__item:nth-of-type(6) {
    grid-area: item6;
}
.cards__item:last-of-type {
    grid-area: item7;
    max-width: 100%;
    margin-top: 20px;
}

@media all and (max-width: 1200px)  {
    .cards__item {
        padding: 25px;
    }
}

@media all and (max-width: 800px)  {
    .cards__item {
        max-width: 100vw;
        width: 100%;
        padding: 20px;
        border-radius: 30px;
    }
}
@media all and (max-width: 500px)  {
    .cards__item {
        max-width: 100vw;
        width: 100%;
        padding: 15px;
        border-radius: 20px;
    }
}