.program__number {
    position: absolute;
    top: -30px;
    left: 0px;
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 200px;
    color: #fcb000;
    opacity: 0.3;
}

@media all and (max-width: 1500px)  {
    .program__number{
        font-size: 180px;
    }
}
@media all and (max-width: 1200px)  {
    .program__number{
        font-size: 130px;
    }
}
@media all and (max-width: 800px)  {
    .program__number{
        font-size: 100px;
    }
}

@media all and (max-width: 500px)  {
    .program__number{
        font-size: 60px;
    }
}