.consultation {
    display: grid;
    grid-template-columns: 1fr;
    background: #240000 center no-repeat;
    background-image: url(../../images/header.png);
    color: #fff;
    padding: 40px 120px;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
}

@media all and (max-width: 1500px)  {
    .consultation {
        padding: 40px 90px;
    }
}

@media all and (max-width: 1200px)  {
    .consultation {
        padding: 40px 60px;
    }
}
@media all and (max-width: 800px)  {
    .consultation {
        padding: 40px;
    }
}

@media all and (max-width: 500px)  {
    .consultation {
        margin-top: 0px;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
}