.form__input {
    font-family: 'Proxima Nova', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    outline: none;
    border:none;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: rgba(255, 233, 212, 0.826);
}

.form__input:first-child {
    margin-top: 18px;
}

@media all and (max-width: 640px) {
    .form__input {
        font-size: 14px;
        line-height: 17px;
        margin-top: 18px;
        padding: 10px;
    }
}
@media all and (max-width: 500px) {
    .form__input {
        width: 291px;
    }
}