.footer__paragraph {
    margin-block-start: 30px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

.footer_thanks .footer__paragraph {
    color: #240000;
    text-align: center;
}

@media all and (max-width: 800px)  {
    .footer__paragraph{
        font-size: 17px;
        line-height: 20px;
    }
}
@media all and (max-width: 500px)  {
    .footer__paragraph  {
        font-size: 12px;
        line-height: 17px;
        margin-block-start: 5px;
    }
    .footer__paragraph:first-of-type  {
        margin-block-start: 30px;
    }
    .footer__paragraph:last-of-type  {
        margin-block-end: 20px;
    }
    .footer_thanks .footer__paragraph {
        margin-block-end: 0px;
        margin-block-start: 0px;
    }
}