@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__paragraph/header__paragraph.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__items/cards__items.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__paragraph/cards__paragraph.css);
@import url(../blocks/cards/__subtitle/cards__subtitle.css);
@import url(../blocks/cards/__img/cards__img.css);
@import url(../blocks/cards/__img-blook/cards__img-blook.css);
@import url(../blocks/cards/__img-bgrd/cards__img-bgrd.css);
@import url(../blocks/quote/quote.css);
@import url(../blocks/quote/__title/quote__title.css);
@import url(../blocks/for/for.css);
@import url(../blocks/for/__title/for__title.css);
@import url(../blocks/for/__items/for__items.css);
@import url(../blocks/for/__paragraph/for__paragraph.css);
@import url(../blocks/for/__item/for__item.css);
@import url(../blocks/for/__img/for__img.css);
@import url(../blocks/for/__subtitle/for__subtitle.css);
@import url(../blocks/program/program.css);
@import url(../blocks/program/__title/program__title.css);
@import url(../blocks/program/__item/program__item.css);
@import url(../blocks/program/__paragraph/program__paragraph.css);
@import url(../blocks/program/__items/program__items.css);
@import url(../blocks/program/__li/program__li.css);
@import url(../blocks/program/__ul/program__ul.css);
@import url(../blocks/program/__number/program__number.css);
@import url(../blocks/benefits/benefits.css);
@import url(../blocks/benefits/__title/benefits__title.css);
@import url(../blocks/benefits/__paragraph/benefits__paragraph.css);
@import url(../blocks/benefits/__items/benefits__items.css);
@import url(../blocks/benefits/__li/benefits__li.css);
@import url(../blocks/benefits/__ul/benefits__ul.css);
@import url(../blocks/price/price.css);
@import url(../blocks/price/__item/price__item.css);
@import url(../blocks/price/__title/price__title.css);
@import url(../blocks/price/__ul/price__ul.css);
@import url(../blocks/price/__li/price__li.css);
@import url(../blocks/price/__button/price__button.css);
@import url(../blocks/author/author.css);
@import url(../blocks/author/__title/author__title.css);
@import url(../blocks/author/__subtitle/author__subtitle.css);
@import url(../blocks/author/__ul/author__ul.css);
@import url(../blocks/author/__paragraph/author__paragraph.css);
@import url(../blocks/author/__img/author__img.css);
@import url(../blocks/author/__li/author__li.css);
@import url(../blocks/consultation/consultation.css);
@import url(../blocks/consultation/__title/consultation__title.css);
@import url(../blocks/description/description.css);
@import url(../blocks/description/__title/description__title.css);
@import url(../blocks/description/__subtitle/description__subtitle.css);
@import url(../blocks/description/__ul/description__ul.css);
@import url(../blocks/description/__li/description__li.css);
@import url(../blocks/description/__paragraph/description__paragraph.css);
@import url(../blocks/description/__item/description__item.css);
@import url(../blocks/description/__items/description__items.css);
@import url(../blocks/description/__img/description__img.css);
@import url(../blocks/questions/questions.css);
@import url(../blocks/questions/__title/questions__title.css);
@import url(../blocks/questions/__subtitle/questions__subtitle.css);
@import url(../blocks/questions/__item/questions__item.css);
@import url(../blocks/questions/__paragraph/questions__paragraph.css);
@import url(../blocks/questions/__button/questions__button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__paragraph/footer__paragraph.css);
@import url(../blocks/footer/__form/footer__form.css);
@import url(../blocks/footer/__blook-description/footer__blook-description.css);
@import url(../blocks/footer/__subtitle/footer__subtitle.css);
@import url(../blocks/block_links/block_links.css);
@import url(../blocks/link/__tel/link__tel.css);
@import url(../blocks/link/__ws/link__ws.css);
@import url(../blocks/link/__tg/link__tg.css);
@import url(../blocks/link/__email/link__email.css);
@import url(../blocks/link/link.css);
@import url(../blocks/navigation/navigation.css);
@import url(../blocks/navigation/__item/navigation__item.css);
@import url(../blocks/icon/icon.css);
@import url(../blocks/button/button.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_type/form__input_type_error.css);
@import url(../blocks/form/__submit/form__submit.css);
@import url(../blocks/form/__input-error/form__input-error.css);
@import url(../blocks/form/__input-error/_active/form__input-error_active.css);
@import url(../blocks/form/__submit/_inactive/form__submit_inactive.css);
@import url(../blocks/questions/__item/__item-active.css/questions__item-active.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__subtitle/popup__subtitle.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__form/popup__form.css);