.footer {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-areas: 
    "item1 item2";
    gap: 10px;
    background: #240000;
    color: #fff;
    padding: 40px 120px;
    box-sizing: border-box;
    justify-content: center;
}
.footer_thanks {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 1fr;
    grid-template-areas: 
        "item2"
        "item1";
    align-items:end;
    align-content:end;
    background:none;
    color: #240000;
    justify-items: center;
}

@media all and (max-width: 1500px)  {
    .footer {
        padding: 40px 90px;
    }
}

@media all and (max-width: 1200px)  {
    .footer {
        padding: 40px 60px;
    }
}
@media all and (max-width: 800px)  {
    .footer {
        padding: 40px;
    }
}

@media all and (max-width: 500px)  {
    .footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item2"
        "item1";
        margin-top: 0px;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
}