.price__title {
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 40px;
    line-height: 65px;
    justify-self: center;
    align-self: center;
    text-align: center;
    min-height: 114px;
}

.price__title span {
    opacity: 0.7;
    display: block;
    font-size: 30px;
    line-height: 15px;
}

@media all and (max-width: 1500px)  {
    .price__title {
        font-size: 30px;
        line-height: 45px;
        min-height: 90px;
    }

    .price__title span {
        font-size: 20px;
        line-height: 15px;
    }
}
@media all and (max-width: 900px)  {
    .price__title {
        font-size: 25px;
        line-height: 24px;
    }
    .price__title span {
        font-size: 18px;
        line-height: 12px;
    }
}

@media all and (max-width: 500px)  {
    .price__title {
        font-size: 18px;
        line-height: 22px;
    }
    
    .price__title span {
        font-size: 15px;
        line-height: 10px;
    }
}