.program__paragraph {
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    color: #240000;
    min-height: 121px;
}

.program__paragraph  span {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
.program__item:last-of-type .program__paragraph {
    align-self: center;
    font-weight: bold;
}

@media all and (max-width: 1500px)  {
    .program__paragraph{
        font-size: 20px;
        line-height: 23px;
    }
    .program__paragraph  span {
        font-size: 24px;
    }
}
@media all and (max-width: 1200px)  {
    .program__paragraph{
        font-size: 18px;
        line-height: 21px;
    }
    .program__paragraph  span {
        font-size: 22px;
    }
}
@media all and (max-width: 800px)  {
    .program__paragraph{
        font-size: 16px;
        line-height: 19px;
    }
    .program__paragraph  span {
        font-size: 20px;
    }
}

@media all and (max-width: 500px)  {
    .program__paragraph{
        font-size: 14px;
    }
        
    .program__paragraph  span {
        font-size: 15px;
    }
}