.button {
    max-width: 369px;
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 30px;
    background-color: #fcb000;
    box-shadow: 5px 5px 18px rgba(255, 244, 84, 0.8);
    border-color: transparent;
    border-style: solid;
    justify-self: center;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
    justify-self: center;
}

.button:hover {
    border: none;
    background-color: #fcbc26;
    cursor:pointer;
}

.footer__form .button, .form .button {
    max-width: 100%;
}

@media all and (max-width: 500px)  {
    .button {
        max-width: 291px;
        height: 37px;
        padding-top: 5px;
        font-size: 16px;
        line-height: 22px;
    }
    .footer__form .button, .form .button {
        max-width: 291px;
    }
}