.questions__paragraph  {
    display: none;
    margin-block-start: 10px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #240000;
}

@media all and (max-width: 1500px)  {
    .questions__paragraph {
        font-size: 22px;
        line-height: 30px;
    }
}
@media all and (max-width: 1200px)  {
    .questions__paragraph {
        font-size: 20px;
        line-height: 28px;
    }
}
@media all and (max-width: 800px)  {
    .questions__paragraph {
        font-size: 18px;
        line-height: 24px;
    }
}

@media all and (max-width: 500px)  {
    .questions__paragraph {
        font-size: 14px;
        line-height: 21px;
    }
}